[Unit]
Description=Promtail

Wants=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10s

EnvironmentFile=/etc/environment

ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --env-file /etc/default/promtail \
{% if promtail_memory_limit | default(false) %}
  --memory {{ promtail_memory_limit }} \
{% endif %}
{% if promtail_memory_swap | default(false) %}
  --memory-swap {{ promtail_memory_swap }} \
{% endif %}
{% if promtail_memory_soft_limit | default(false) %}
  --memory-reservation {{ promtail_memory_soft_limit }} \
{% endif %}
{% if promtail_cpu_shares | default(false) %}
  --cpu-shares {{ promtail_cpu_shares }} \
{% endif %}
{% if promtail_number_of_cpus | default(false) %}
  --cpus {{ promtail_number_of_cpus }} \
{% endif %}
{% for item in promtail_default_labels + promtail_extra_labels %}
  --label {{ item }} \
{% endfor %}
{% if promtail_network | default(false) %}
  --network {{ promtail_network }} \
{% endif %}
  --volume /etc/promtail/config.yml:/etc/promtail/config.yml \
{% for item in promtail_default_volumes + promtail_extra_volumes %}
  --volume {{ item }} \
{% endfor %}
{% for item in promtail_default_publish + promtail_extra_publish %}
  --publish {{ item }} \
{% endfor %}
  {{ promtail_image }} \
  --config.file=/etc/promtail/config.yml

[Install]
WantedBy=multi-user.target
